.disCard {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.07);
    width: 20rem;
    box-sizing: border-box;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.3rem;
}

.cardBox {
    background: rgba(243, 243, 243, 0.75);
    padding: 1rem;
    padding-top: 1.2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: calc(100% - 2rem);
    text-align: center;
    height: 5.2rem;
}

.cardBox>div:nth-of-type(1) {
    font-weight: bold;
}

.cardBox>div:nth-of-type(2) {
    margin-top: 0.8rem;
    line-height: 1.1rem;
    font-size: 0.9rem;
}

.dCardBtn {
    color: white;
    text-decoration: inherit;
    background: #4C86F9;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.dCardBtn:hover {
    transform: scale(0.95);
    background: #3771e5;
}


.disCard::before {
    content: "";
    background: #4C86F9;
    display: block;
    height: 0.5rem;
    width: 20rem;
    transform: translateY(-1rem);
    border-radius: 1rem 1rem 0 0;
}


@media (max-width:400px) {

    .disCard,
    .disCard::before {
        width: calc(100vw - 4rem);
    }
}